{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
	<div id="gallery-layout3">
		<div class="gallery-layoutmain">
         {% if gallerys %}
           {% for gallery in gallerys %}
             {% if gallery.image %}	
              <div class="col-sm-4 col-xs-12">
						<div class="main-gallary">
							<div class="gallery-left">
							<a href="{{ gallery.href }}">	
								<img src="{{ gallery.image }}">
							</a>
							</div>
							<div class="gallery-right">
								<h3><a href="{{ gallery.href }}"> {{ gallery.album }}</a></h3>
							    <h3> {{ gallery.totalphoto }} Photos</h3>
								 <p>{{ gallery.description }}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>	
					{% endif %}
				{% endfor %}
			{% endif %}
		  </div>		
		</div>		
	{{ content_bottom }}
</div>
{{ column_right }}</div>
</div>
{{ footer }}